<div class="container">
    <div class="row">
      <div class="col col-md-9">
        <ul *ngFor="let n of notices">
          <li>
            <div>
              <span>  <a  [routerLink]="['/notice', n.id]"><h3>{{n.title}}</h3></a></span>
              <h5>{{n.text}}</h5>
              <div>
              <span> <p class="username">  By: {{n.user.username}}</p>  <p class="date">Date:  {{n.date}}</p></span>
              <br>
              <p class="type">Tip : {{n.type.name}}</p>
           
            </div>
            </div>
          </li>
        </ul>
        <hr>
      </div>
    
    <div class="col col-md-3">
        <h3>Tip Obavestenja</h3>
        <ul *ngFor="let t of types">
          <!-- ovde saljemo trenutno id u grupi koje se nalazimo (this.id, njega dobija iz component), a drugi parametar prosledjuje  se od tip.id, ovo nas baca na notice-of type stranicu, koja u sebi sadrzi metodu sa filtriranje-->
          <li>
    
            <h4><a [routerLink]="['/group', this.id1,t.id]">{{t.name}}</a></h4>
          </li>
        </ul>
      </div>
    </div>
  
</div>
