ul {
    list-style-type: none;
  }

 span{
   font-style: italic;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }

 .type{
    float: left;
  }
 
  .date{
    float: right;
  }
  .username{
    float: left;
  }
 
h5{
    margin-bottom: 30px;
  }
 
 hr{
   color: black;
   
 }
 
