
.lista {
  list-style-type: none;
  margin-bottom: 140px;
  border: 3px black;
}

 span{
   font-style: italic;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }
 .type{
   float: left;
 }

 .date{
   float: right;
 }
 .username{
   float: left;
 }

 h5{
   margin-bottom: 30px;
 }

hr{
  color: black;
  
}

ul{
  list-style-type: none;
}

.tip{
  float: right;
}

.dodaj{
  float: left;
}