<!-- <!-- <div class="container">
   <div class="col-9"></div>
  <ul *ngFor="let n of notice">
    <li>
      <div> <h5>{{n.text}}</h5>
        <p>{{n.type.name}}</p>
      </div>
    </li>
  </ul>
  
</div>

<div>
  <ul *ngFor="let t of types">
    <li>{{t.name}}</li>
  </ul>
</div> -->

<!-- 
<div class="container">

  <div class="row">
    <div class="col">
      <button (click)="activateAddNotice()">Dodaj Obestenje</button>
      <div *ngIf="isCollapsed">

        <form class="form-horizontal" (ngSubmit)="saveNotice()">


          <div class="form-group">
            <label class="control-label col-sm-1" for="input-project">Naslov Objave</label>
            <div class="col-sm-11">
              <input class="form-control" name="input-project" id="input-title" [(ngModel)]="newNotice.title" />
            </div>
          </div>



          <div class="form-group">
            <label class="control-label col-sm-1" for="input-author">Type: </label>
            <div class="col-sm-11">
              <select class="form-control" name="input-kategorija" id="input-kategorija" [(ngModel)]="newNotice.type">
                <option *ngFor="let t of types" [ngValue]="k">{{t.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label t class="control-label col-sm-1" for="input-image-url">Tekst: </label>
            <div class="col-sm-11">
              <input type="text" class="form-control" name="input-image-url" id="input-image-url"
                [(ngModel)]="newNotice.text" />
            </div>
          </div>
          <div class="form-group save">
            <input class="btn btn-primary" type="submit" value="save" />
          </div>
        </form>

      </div>
    </div>
 
  <div class="col 6">
    <ul *ngFor="let n of notice">
      <li>
        <div>
          <h3>{{n.title}}</h3>
          <h5>{{n.text}}</h5>
          <p>{{n.type.name}}</p>
        </div>
      </li>
      <br>
    </ul>
  </div>
  <div class="col">
    <h3>Tip Obavestenja</h3>
    <ul *ngFor="let t of types">
      ovde saljemo trenutno id u grupi koje se nalazimo (this.id, njega dobija iz component), a drugi parametar prosledjuje  se od tip.id, ovo nas baca na notice-of type stranicu, koja u sebi sadrzi metodu sa filtriranje-->
      <!-- <li>

        <h4><a [routerLink]="['/group', this.id,t.id]">{{t.name}}</a></h4>
      </li>
    </ul>
  </div>
</div>
</div> -->


<div class="container">
  <div class="row">
      <div class="dodaj col col-lg-3">
          <button (click)="activateAddNotice()">Dodaj Post</button>
          <div *ngIf="isCollapsed">
    
            <form class="form-horizontal" (ngSubmit)="saveNotice()">
    
    
              <div class="form-group">
                <label class="control-label col-sm-1" for="input-project">Naslov Posta</label>
                <div class="col-sm-11">
                  <input class="form-control" name="input-project" id="input-title" [(ngModel)]="newNotice.title" />
                </div>
              </div>
    
    
    
              <div class="form-group">
                <label class="control-label col-sm-1" for="input-author">Tip: </label>
                <div class="col-sm-11">
                  <select class="form-control" name="input-kategorija" id="input-kategorija" [(ngModel)]="newNotice.type">
                    <option *ngFor="let t of alltypes" [ngValue]="t">{{t.name}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group">
                <label t class="control-label col-sm-1" for="input-text">Tekst: </label>
                <div class="col-sm-11">
                  <textarea type="text" class="form-control" name="input-text" id="input-text"
                    [(ngModel)]="newNotice.text"  style="height:200px"></textarea>
                </div>
              </div>
              <div class="form-group save">
                <input class="btn btn-success" type="submit" value="save" />
              </div>
            </form>
    
          </div>
        </div>

        <div class="col col-lg-6">
            <ul class="lista" *ngFor="let n of notice">
              <li>
                <div>
                
                <span>  <a  [routerLink]="['/notice', n.id]"><h3>{{n.title}}</h3></a></span>
                  <h5>{{n.text}}</h5>
                  <div>
                  <span> <p class="username">  By: {{n.user.username}}</p>  <p class="date">Date:  {{n.date}}</p></span>
                  <br>
                  <p class="type">Tip : {{n.type.name}}</p>
               
                </div>
                </div>
               
              </li>
              <hr>
            </ul>
            <hr>
          </div>
          <div class="tip col col-lg-3">
            <h3>Tip Obavestenja</h3>
            <ul *ngFor="let t of types">
              <!-- ovde saljemo trenutno id u grupi koje se nalazimo (this.id, njega dobija iz component), a drugi parametar prosledjuje  se od tip.id, ovo nas baca na notice-of type stranicu, koja u sebi sadrzi metodu sa filtriranje-->
              <li>
        
                <h4><a [routerLink]="['/group', this.id,t.id]">{{t.name}}</a></h4>
              </li>
            </ul>
          </div>


  </div>
</div>