<div>
    <img src="https://bowergroupasia.com/wp-content/themes/radiant/library/images/skylines/australia.png" class="img-responsive center-block" alt="Responsive image">
</div>
<nav class="navbar navbar-inverse  "  role="navigation" align="center">
 
  
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="welcome  navbar-brand" *ngIf="isLoggedIn()">Welcome: {{korisnikUsername}} !</p>
      <a class="navbar-brand" [routerLink]="['main']" href="#">Home</a>
      
     
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div   class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngFor="let t of groups">
        <!-- prosledjuje od grupe id i baca na stranicu GroupPage, koja sadrzi samo obavestenja iz te grupe-->
        <li   *ngIf="isLoggedIn()" class="pull-left"><a [routerLink]="['/group', t.id]">{{t.name}}</a></li>
        

          
      </ul>
      <a (click)="logout()"> <span class="navbar-brand" id="logOut" *ngIf="isLoggedIn()">LogOut</span></a>
     <a [routerLink]="['login']"><span class="navbar-brand" id="logOut" *ngIf="!isLoggedIn()">LogIn</span></a>
         
      <div class="search-container">
              <form >
                <input type="text" placeholder="Search for Notices.." name="naziv" [(ngModel)]="name">
               <a [routerLink]="['notices/', name]"> <button type="submit"><i class="fa fa-search" >submit</i></button></a>
              </form>
            </div>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>