.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  img{
   
      
      align-content: center;
  }
  form{
      float:rigth;
  }

  .search-container {
   
    float: right;
    padding: 6px 10px;
    font-size: 17px;
    cursor: pointer;
  }
  #logOut{
    float: right;
  }

  .welcome{
    float: left;
    color: white;
    size: 0.5em;
  
  }