<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">RecordStore</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container" role="main">
	
	<div class="jumbotron">
		<h1>RecordStore</h1>
		<p>An example of Angular application styled with Bootstrap.</p>
	</div>

	<router-outlet></router-outlet>

</div> -->

<app-group-nav-bar></app-group-nav-bar>

<router-outlet></router-outlet>