ul {
    list-style-type: none;
  }

.onecomment{
    margin-bottom: 50px;
}

li:nth-child(2n+1) {
    background:rgb(219, 219, 219);
  }
.onecomment.user{
    font-style: italic;
    font-size: 3px;
    
}

.notice{
    margin-bottom: 100px;
}
.comment-section{
    margin-bottom: 60px;
}
.obrisi{
    float: right;
  }
  
.indent{
    text-indent: 50px;
}

#odgovori{
    float: right;
}