<div *ngIf="notice" class="container">
  <div class="notice">
    <h2>{{notice.title}}</h2>
    <div>
      <p>{{notice.text}}</p>
    </div>
    <p>{{notice.date}}</p>
  </div>
  <div>
    <div>
      <h3>Komentari:</h3>
    </div>
    <div class="comment-section">
      <button (click)="toggleComment()">Dodajte Komentar:</button>
      <div *ngIf="!comment">


        <form (ngSubmit)="addComment()">
          <div>
            <input class="form-control" name="input-project" id="input-commentar" [(ngModel)]="newComment.commentar" />
            <span>
              <input class="btn btn-success" type="submit" value="Dodaj" />
            </span>
          </div>
        </form>
      </div>
    </div>
    <ul *ngFor="let c of notice.comments">
      <li>
        <div class="onecomment">
          <p class="user">By: {{c.user.username}}</p>
          <p>{{c.commentar}}</p>
          <p>{{c.date}}</p>
          <p class="obrisi" *ngIf="c.user.username === korisnikUsername">
            <button  class="btn btn-danger"  (click)="deleteComment(c.id)">Obrisi</button>

          </p>
        </div>
        <hr>
      </li>

      <div>

        <button  class="btn btn-info" (click)="getReplies(c.id)">Replies</button>
      
        
        <div id="kutija1" *ngIf="!repliesToggle" class="indent">
          <ul *ngFor="let r of replies">
            <li *ngIf="r.parentComment === c.id">
              <div class="onecomment">
                <p class="user">By: {{r.user.username}}</p>
                <p>{{r.commentar}}</p>
                <p>{{r.date}}</p>
                <p class="obrisi" *ngIf="r.user.username === korisnikUsername">
                  <button  class="btn btn-danger" (click)="deleteComment(r.id)">Obrisi</button>
                </p>
              </div>
              <hr>
            </li>
          </ul>
          <div *ngIf="replies[0].parentComment === c.id || 0">
              <form (ngSubmit)="addRepliy()">
                <div>
                  <input class="form-control" name="input-project" id="input-commentar"
                    [(ngModel)]="commentRepliy.commentar" />
                  <span>
                    <input class="btn btn-success" type="submit" value="Dodaj" />
                  </span>
                </div>
              </form>
            </div>
            <br>
        </div>
      
      </div>
    </ul>
  </div>
</div>