<div class="container">
    <div class="row">
      <div >
        <ul *ngFor="let n of notices">
          <li>
            <div>
              <span> <a [routerLink]="['/notice', n.id]">
                  <h3>{{n.title}}</h3>
                </a></span>
              <h5>{{n.text}}</h5>
              <div>
                <span>
                  <p class="username"> By: {{n.user.username}}</p>
                  <p class="date">Date: {{n.date}}</p>
                </span>
                <br>
                <p class="type">Tip : {{n.type.name}}</p>
  
              </div>
            </div>
            <hr>
          </li>
          <hr>
        </ul>
  
        <hr>
      </div>
      <div>